In [ ]:
'''
1 ) "uber-raw-data-janjune-15.csv" ->> this data contains all the entries/pickups from 'January' to 'June'
    Quite huge dataset having approx 15M data pts , so lets consider its sample which have approx 1M


2 ) "uber-raw-data-janjune-15_sample.csv" ->> this data is a sample of "uber-raw-data-janjune-15.csv"
    'Since above data is quite huge ~15 Million data pts , hence it is good to work with some sample 
     if u do not have good specifications in your systems
    
'''

# 1.. Lets Read data for Analysis

In [3]:
### lets import all the necessary packages !

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
import os

In [ ]:
os.listdir(r"Datasets/")

In [ ]:
uber_15 = pd.read_csv(r"Datasets/uber-raw-data-janjune-15_sample.csv")

In [ ]:
uber_15.shape

## 2.. Lets Perform Data pre-processing/Data cleaning !
        check data-type , check missing values , check whether duplicated values or not !
        ie Prepare Data for Analysis !

In [ ]:
type(uber_15)

In [ ]:
uber_15.duplicated().sum()

In [ ]:
uber_15.drop_duplicates(inplace=True)

In [ ]:
uber_15.duplicated().sum()

In [ ]:
uber_15.shape

In [ ]:
uber_15.dtypes

In [ ]:
uber_15.isnull().sum()

In [ ]:
uber_15['Pickup_date'][0]

In [ ]:
type(uber_15['Pickup_date'][0])

In [ ]:
uber_15['Pickup_date'] = pd.to_datetime(uber_15['Pickup_date'])

In [ ]:
uber_15['Pickup_date'].dtype

In [ ]:
uber_15['Pickup_date'][0]

In [ ]:
type(uber_15['Pickup_date'][0])

In [ ]:
uber_15.dtypes

# 3.. Which month have max. Uber pickups in New York City ?

In [ ]:
uber_15

In [ ]:
uber_15['month'] = uber_15['Pickup_date'].dt.month_name()

In [ ]:
uber_15['month']

In [ ]:
uber_15['month'].value_counts().plot(kind='bar')

In [ ]:
'''
Inference : June seems to have max Uber Pickups 
'''

In [ ]:
## extracting dervied features (weekday ,day ,hour ,month ,minute) from 'Pickup_date'..

uber_15['weekday'] = uber_15['Pickup_date'].dt.day_name()
uber_15['day'] = uber_15['Pickup_date'].dt.day
uber_15['hour'] = uber_15['Pickup_date'].dt.hour
uber_15['minute'] = uber_15['Pickup_date'].dt.minute

In [ ]:
uber_15.head(4)

In [ ]:
## pd.crosstab() is used to create pivot table ..

pivot = pd.crosstab(index=uber_15['month'] , columns=uber_15['weekday'])

In [ ]:
pivot

In [ ]:
## grouped-bar plot using Pandas ..
pivot.plot(kind='bar' , figsize=(8,6))

In [ ]:
'''

On Saturday & Friday, u are getting more Uber pickups in each month , it seems that New Yorkers used to go for 
shopping , Malls , fun activities alot on these days

'''

# 4.. Lets Find out Hourly Rush in New york city on all days

In [ ]:
summary = uber_15.groupby(['weekday' , 'hour'] , as_index=False).size()

In [ ]:
summary

In [ ]:
## pointplot between 'hour' & 'size' for all the weekdays..

plt.figure(figsize=(8,6))
sns.pointplot(x="hour" , y="size" , hue="weekday" , data=summary)

In [ ]:
'''
It's interesting to see that Saturday and Sunday exhibit similar demand throughout the late night/morning/afternoon, 
but it exhibits opposite trends during the evening. In the evening, Saturday pickups continue to increase throughout the evening,
but Sunday pickups takes a downward turn after evening..

We can see that there the weekdays that has the most demand during the late evening is Friday and Saturday, 
which is expected, but what strikes me is that Thursday nights also exhibits very similar trends as Friday and Saturday nights.

It seems like New Yorkers are starting their 'weekends' on Thursday nights. :)


'''

# 5.. Which Base_number has most number of Active Vehicles ??

In [ ]:
uber_15.columns

In [ ]:
os.listdir(r"Datasets/")

In [ ]:
uber_foil = pd.read_csv(r"Datasets/Uber-Jan-Feb-FOIL.csv")

In [ ]:
uber_foil.shape

In [ ]:
uber_foil.head(3)

In [ ]:
### establishing the entire set-up of Plotly..

In [ ]:
# pip install chart-studio ## chart_studio provides a web-service for hosting graphs!
# pip install plotly
# pip install --upgrade nbformat
#

In [ ]:
import chart_studio.plotly as py
import plotly.graph_objs as go
import plotly.express as px

from plotly.offline import download_plotlyjs , init_notebook_mode , plot , iplot 
## iplot() when working in a Jupyter Notebook to display the plot in the notebook.
## U have to do a proper setup of plotly , otherwise plotly plots gets open in a web-browser instead of Jupyter notebook

In [ ]:
init_notebook_mode(connected=True)

In [ ]:
uber_foil.columns

In [ ]:
px.box(x='dispatching_base_number' , y='active_vehicles' , data_frame=uber_foil)

In [ ]:
### if u need distribution +  5-summary stats of data , its good to go with violinplot
px.violin(x='dispatching_base_number' , y='active_vehicles' , data_frame=uber_foil)

# 6.. Collect entire data & Make it ready for the Data Analysis..

In [5]:
files = os.listdir(r"Datasets/")[-8:]

In [ ]:
files.remove('uber-raw-data-janjune-15.csv')

In [ ]:
files

In [ ]:
files.remove('uber-raw-data-janjune-15_sample.csv')

In [6]:
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-janjune-15.csv',
 'uber-raw-data-janjune-15_sample.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [1]:
#blank dataframe
final = pd.DataFrame()

path = r"Datasets/"

for file in files :
    current_df = pd.read_csv(path+'/'+file)
    final = pd.concat([current_df , final])

NameError: name 'pd' is not defined

In [ ]:
final.shape

In [ ]:
### After Collecting entire data ,u might ask is : Do we have duplicate entires in data ?
### We are going to remove duplicates data when the entire row is duplicated

In [ ]:
### first lets figure out total observations where we have duplicate values..
final.duplicated().sum()

In [ ]:
## drop duplicate rows ..
final.drop_duplicates(inplace=True)

In [ ]:
final.shape

In [ ]:
final.head(3)

## Dataset Information :

### The dataset contains information about the Datetime, Latitude, Longitude and Base of each uber ride that happened in the month of July 2014 at New York City, USA

##### Date/Time : The date and time of the Uber pickup

##### Lat : The latitude of the Uber pickup

##### Lon : The longitude of the Uber pickup

##### Base : The TLC base company code affiliated with the Uber pickup

    The Base codes are for the following Uber bases:
    B02512 : Unter
    B02598 : Hinter
    B02617 : Weiter
    B02682 : Schmecken
    B02764 : Danach-NY

# 7.. at what locations of New York City we are getting rush ??

In [ ]:
### ie where-ever we have more data-points or more density, it means more rush is at there !

In [ ]:
rush_uber = final.groupby(['Lat' , 'Lon'] , as_index=False).size()

In [ ]:
rush_uber.head(6)

In [ ]:
#pip install folium

In [ ]:
import folium

In [ ]:
basemap = folium.Map()

In [ ]:
basemap

In [ ]:
from folium.plugins import HeatMap

In [ ]:
HeatMap(rush_uber).add_to(basemap)

In [ ]:
basemap

    We can see a number of hot spots here. Midtown Manhattan is clearly a huge bright spot
    & these are made from Midtown to Lower Manhattan followed by Upper Manhattan and the Heights of Brooklyn.

# 8.. Examine rush on Hour and Weekday ( Perform Pair wise Analysis )

In [ ]:
final.columns

In [ ]:
final.head(3)

In [ ]:
final.dtypes

In [ ]:
final['Date/Time'][0]

In [ ]:
### converting 'Date/Time' feature into date-time..

final['Date/Time'] = pd.to_datetime(final['Date/Time'] , format="%m/%d/%Y %H:%M:%S")

In [ ]:
final['Date/Time'].dtype

In [ ]:
### extracting 'weekday' & 'hour' from 'Date/Time' feature..

final['day'] = final['Date/Time'].dt.day
final['hour'] = final['Date/Time'].dt.hour

In [ ]:
final.head(4)

In [ ]:
'''
Earlier we have learnt how to create pivot table using pd.crosstab() , now let me show u one more way to build
pivot_table without pd.crosstab()

'''

In [ ]:
pivot = final.groupby(['day' , 'hour']).size().unstack()

In [ ]:
pivot

### pivot table is all about  , we have Rows*columns & having value in each cell !

In [ ]:
### styling dataframe

pivot.style.background_gradient()